<nav class="lnb bg-light border-end vh-100" style="min-width:200px;">
  <ul class="nav flex-column py-4">
    <li class="nav-item mb-2">
      <a class="nav-link fw-bold" href="/user">
        <i data-lucide="users" style="width:18px;height:18px;vertical-align:-3px;"></i> 회원 관리
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link fw-bold" href="/image-library">
        <i data-lucide="image" style="width:18px;height:18px;vertical-align:-3px;"></i> 이미지 라이브러리
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link fw-bold" href="/code">
        <i data-lucide="list" style="width:18px;height:18px;vertical-align:-3px;"></i> 분류 코드
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link fw-bold" href="/attachment">
        <i data-lucide="paperclip" style="width:18px;height:18px;vertical-align:-3px;"></i> 첨부파일 관리
      </a>
    </li>
  </ul>
</nav> 